menu "Mainboard"

choice
	prompt "Board vendor"
	default VENDOR_GOOGLE

config VENDOR_GOOGLE
	bool "Google"

endchoice

source "src/board/google/Kconfig"

config BOARD_ROMSIZE_KB_64
	bool
config BOARD_ROMSIZE_KB_128
	bool
config BOARD_ROMSIZE_KB_256
	bool
config BOARD_ROMSIZE_KB_512
	bool
config BOARD_ROMSIZE_KB_1024
	bool

# Map the config names to a hex value (bytes).
config ROM_SIZE
	hex
	default 0x10000 if COREBOOT_ROMSIZE_KB_64
	default 0x20000 if COREBOOT_ROMSIZE_KB_128
	default 0x40000 if COREBOOT_ROMSIZE_KB_256
	default 0x80000 if COREBOOT_ROMSIZE_KB_512
	default 0x100000 if COREBOOT_ROMSIZE_KB_1024

config BOARD_SERIAL_NUMBER
	string "EC Serial Number"
	default "123456789"
        help
	  The Serial Number to store in the EC EEPROM.

config BOARD_VERSION
	string "EC Version Number"
	default "1.0"
	help
	  The Version Number to store in the EC EEPROM.

config BOARD_MANUFACTURER
	string "EC Manufacturer"
	default BOARD_VENDOR
	help
	  Override the default Manufacturer stored in the EC EEPROM.

config BOARD_PRODUCT_NAME
	string "EC Product name"
	default BOARD_PART_NUMBER
	help
	  Override the default Product name stored in the EC EEPROM.

endmenu
